requests
kaggle
ipykernel
pandas
jupyter
matplotlib
seaborn
squarify
transformers
pytorch
accelerate>=0.26.0
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability